* {
    margin: 0;
    padding: 0;

    font-family: 'Cabin', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.webhead {


    height: 75vh;
    background-color: blue;
    background-image: url(images/donation1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 40px ;

}

.div1 {
    padding: 15%;
    text-align: center;


}


.h1 {
    color: rgb(243, 242, 241);
    font-size: 50px;
    /* text-align: center; */
    padding: 10px;
}

.p1 {
    font-size: x-large;
    color: #fdfdfd;
    padding-bottom: 35px;
}


.link1 {
    text-decoration: none;
    /* text-align: center; */
    background-image: linear-gradient(#E48610, #FB8F07);
    padding: 13px;
    border-radius: 9px;
    margin-top: 5px;
    color: aliceblue;


}

span {
    color: #27AE60;
}

/* secondpatsecondpatsecondpat */
/* secondpatsecondpatsecondpat *//* secondpatsecondpatsecondpat */

.secondpart {
    text-align: center;
    height: 30vh;
    

}


.divflex{
    display: flex;
    margin-left: 33%;


}
.secondh1{
    font-size: xxx-large;
    margin: 29px;


}
.secondp1{
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-weight:540 ;
 margin: 25px;
}
.flexbox{
    color: rgb(238, 232, 232);
    
    background-color:  #17202A ;
    padding: 25px;
    margin: 15px;
    box-shadow: 2px 4px .1 #A93226;
    border-top: 2px solid #ff0606;
    font-weight: 800;
    border-left:2px solid #ff0606;
    align-self: hover;
    

}
.flexbox:hover{
    background-color:#7F8C8D;
}
.from1st{
    border: none;
}

.input{
    text-align: center;
    background-color: #EAFAF1;
   
  border: none;
  border-bottom: 1px solid  #ABB2B9    ;
  margin: 25px ;
  background-size: cover;
  width:60vh ;
  height: 30px;
  padding-top:10px;
  outline: none;

}
.seccondlink{
    text-decoration: none;
    color: whitesmoke;
    background-color: #D35400 ;
    border-radius: 10px;
    padding: 15px;

    
    

   
}
